.parches-btn{
    width: 250px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: 2px solid $primaryColor;
    margin: 20px;
    height: 64px;
    text-align:center;
    border-radius: 50px;
    background-color: $secondaryColor;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        background-color: $primaryColor;
        color: $secondaryColor;
    }
  }