.card{
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;;
    border-color: aqua;
    max-width: $maxSectionWidth;
    .card-header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primaryColor;
        height: 64px;
        width: 100%;
        border-radius: 28px 28px 0 0;
        .card-header__title{
            color: $secondaryColor;
            text-transform: uppercase;
            font-size: 32px;
        }
    }
    .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $whiteColor;
        border-radius: 0 0 28px 28px;
        width: 100%;
        .card-body__title{
            text-align: center;
            color: $blackColor;
            text-transform: uppercase;
            font-size: 56px;
        }
        .card-body__list{
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            .card-body__item{
                color: $blackColor;
                text-transform: capitalize;
                padding: 10px;
                font-size: 24px;
            }
        }
    }
}
