.gallery-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  .gallery-section {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: $maxSectionWidth;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    .gallery {
      padding: 0;
      margin: 0;
      list-style: none;
      white-space: nowrap;
      transition: all 2.5s;
      width: 100%;
      height: 100%;
      .gallery__item {
        display: inline;
        .gallery__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .gallery-container {
    .gallery-section {
      clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    }
  }
}