.navbar-section {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $blackColor;
    z-index: 4;
    text-transform: uppercase;
    .navbar-container{
        display: flex;
        align-items: center;
        .hambu{
            display: none;
        }
        .navbar{
            max-width: $maxSectionWidth;
            width: 100%;
            .navbar-list{
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                list-style: none;
                color: $whiteColor;
                .navbar-list__link{
                    cursor: pointer;
                    &.active{
                        background-color: $primaryColor;
                        color: $whiteColor;
                    }
                    .navbar-list__item{
                        padding: 20px 40px;
                        &:hover{
                            background-color: $primaryColor;
                        }
                    }
                } 
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .navbar-section {
        .navbar-container{
            width: 100%;
            .navbar {
                display: flex;
                flex-direction: column;
                width: 100%;
                .hambu{
                    border: none;
                    background-color: $primaryColor;
                    height: 64px;
                    width: 64px;
                    display: block;
                    border-radius: 10px;
                    font-size: 24px;
                }
                .navbar-list{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    &.active{
                        display: none;
                    }
                }
            }
        }
    }
}