$primaryColor: #007ABB;
$secondaryColor: #C493FF;
$blackColor: #3C4856;
$whiteColor: #b1b7c0;

$maxSectionWidth: 1400px;
$fontSource: "../fonts/Roboto-Medium.ttf";
$fontFamily: "Roboto";
$fontWeight: "400";
$fontSize: 14px;